<settings>
    <profiles>
        <profile>
            <id>artifactory-plugin-properties</id>
            <properties>
                <username>chetan.talwar@gmail.com</username>
                <password>c61c6b260690dacc54dc091e77608410</password>
                <artifactoryUrl>https://jfrogdbdemo.jfrog.io</artifactoryUrl>
            </properties>
        </profile>
    </profiles>
 
    <activeProfiles>
        <activeProfile>artifactory-plugin-properties</activeProfile>
    </activeProfiles>
</settings>
